<div class="container-item-order-admin">
    <p class="order-id" style="margin-right: 40px;">#78522135</p>
    <div class="product-name" style="padding-right: 160px;">
        <img src="../assets/Images/Products/3.png" alt="">
        <p>Nike Air Max</p>
    </div>
    <p class="address" style="padding-right: 120px;">63 Chu Ty - Duc Co - Gia Lai</p>
    <p class="date" style="margin-right: 80px;">31/03/2021</p>
    <p class="price" style="padding-right: 80px;">
        <span class="material-symbols-outlined">
        attach_money
        </span>
        250.00
    </p>
    <p class="status">Complete</p>
</div>