<div class="container-myprofile">
    <div class="title">
        <p style="font-size: 28px; margin-bottom: 12px;">My Profile</p>
        <p style="font-size: 14px;">Manage profile information for account security</p>
    </div>
            
    <div class="info-customer"> 
        <div class="info-section">
            <div class="title-info-section">
                <p>User name :</p>
                <p>Email :</p>
                <p>Phone number: </p>
                <p>Data of birth :</p>
            </div>
                    
            <div class="fill-info">
                <p>vanhastenghia</p>
                <p>vietnam.shiro.gmail.com</p>
                <p>0363106151</p>
                <div>
                    <p>16 / 04 / 2002</p>
                </div>
                    <p style="border: 1px solid #dbdbdb;
                            padding: 2px 8px; background-color: #f4694b;
                            color: #fff; padding-top: 4px; margin-top: 8px;
                            cursor: pointer;">Change</p>
            </div>
        </div>

        <div class="avt">
            <img src="../assets/Images/Brand/Shay & Blue.jpg" alt="">
            <p>Select Photo</p>
        </div>
    </div>
</div> 