<div [ngClass]="{'HideObject': model.quantity == 0}" class="wrap" CustomScroll>
    <div [ngClass]="{'checked': model.checked === true}" (click)="activeClick($event)" class="container">
        <img class="img-product-checkout" src="{{productInfo.url}}" alt="">
        <div class="info-product" *ngIf="productInfo">
            <p style="font-size: 16px; font-weight: 500;">{{productInfo.name}}</p>
            <p style="font-size: 14px; font-weight: 500; color: #818181;">Brand: {{productInfo.brand}}</p>
            <p style="font-size: 14px; font-weight: 500; color: #818181;">Volume: {{productInfo.volume}}ml</p>
        </div>
    
        <div class="price-product">
            <p class="new-Price">{{productInfo.price}}.000đ</p>
            <p class="old-Price">120.000đ</p>   
        </div>
    
        <div class="quantity-product">
            <span class="btnChangeQuantity" (click)="UpdateQuantity('minus')" class="material-symbols-outlined">remove</span>
            <p style="width: 20px; text-align: center;">{{model.quantity}}</p>
            <span class="btnChangeQuantity" (click)="UpdateQuantity('plus')" class="material-symbols-outlined">add</span>
        </div>
        <div class="total">
            <p>{{(model.quantity*productInfo.price).toLocaleString('vi-VN')}}.000đ</p>
        </div>
    </div>
    
    <div class="similarProducts">
       <p>
        Similar <br> Products
       </p>
    </div>    
    
    <div (click)="DeleteCart()" class="deleteProduct">
        <p>Delete <br> Product</p>
    </div>
</div>
