.Navbar {
    justify-content:  center;

    .Logo {
        cursor: pointer;
    }

    .nav {
        height: 60px;

        .Body-care, .Search {
            border-right: 1px solid #999494;
        }

        .Search, .Cart {
            width: 80px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .Search-box {
            position: absolute;
            background-color: #fff;
            width: 400px;
            min-height: 50px;
            margin-top: 61px;
            margin-left: 482px;
            border: 1px solid #1f1e1e;
            box-shadow: #1f1e1e;

            display: none;

            .input-box {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 50px;
                input {
                    width: 85%;
                    height: 40px;
                    border: 0;
                    font-size: 16px; 
                    padding: 0 10px;
                    outline: none;
                }

                span {
                    font-size: 28px;
                    cursor: pointer;
                }

            }
        }

        .navItem {
            width: 160px;
            height: 100%;

            cursor: pointer;

            p {
                text-align: center;
                line-height: 60px;           
                font-size: 18px;
            }
        }

        .navItem:hover {
            background-color: #1f1e1e;
            color: #fff;

        }
    }
}

.active-Search-box {
    display: block !important;
}
