<div style="
        position: fixed;
        top: 0; left: 0;
        z-index: 9999;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #999494;
        box-shadow: inset;"
    >
    <headline-info></headline-info>
    <navbar></navbar>
</div>

<div class="filter" style="margin-top: 96px;">
    <div class="nav-sort" style="margin-top: 36px;">
        <div class="css-filter filter-category">
            <label id="example-radio-group-label" class="filter-title" >Category</label>
    
            <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="favoriteSeason"
            >
                @for (season of categoryList; track season) {
                    <mat-radio-button class="example-radio-button" [value]="season" ><p>{{season}}</p></mat-radio-button>
                }
            </mat-radio-group>
        </div>
    
        <div class="css-filter filter-price">
            <label id="example-radio-group-label" class="filter-title" >Price</label>
    
            <mat-slider min="0" max="1000" style="width: 85%; margin: auto; color: #040404;">
                <input [(ngModel)]="startValue" (input)="updateStartValue()" value="{{ startValue }}" matSliderStartThumb>
                <input [(ngModel)]="endValue" (input)="updateEndValue()" value="{{ endValue }}" matSliderEndThumb>
            </mat-slider>
          
            <div style="display: flex;">
                <p class="value-box">{{startValue}}</p>
                <p class="value-box">{{endValue}}</p>
            </div>
            <button mat-stroked-button color="primary" class="btn-filter">Filter</button>
        </div>
        
        <div class=" css-filter filter-size">
            <label id="example-radio-group-label" class="filter-title" >Size</label>
            <div>
                <button mat-stroked-button class="btn-size">30 ml</button>
                <button mat-stroked-button class="btn-size">50 ml</button>
                <button mat-stroked-button class="btn-size">100 ml</button>
            </div>
        </div>
    
        <div class="css-filter filter-type">
            <label id="example-radio-group-label" class="filter-title" >Type</label>

            <div class="filter-input">
                <input type="text" [(ngModel)]="typeSearch">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            </div>

            <section class="example-section" [formGroup]="typeListGroup" style="display: block;">
                <div *ngFor="let controlName of typeList">
                <p><mat-checkbox [formControlName]="controlName">{{ controlName }}</mat-checkbox></p>
                </div>
            </section>
        </div>
    
        <div class="css-filter filter-trade-mark">
            <label id="example-radio-group-label" class="filter-title" >TradeMark</label>

            <div class="filter-input">
                <input type="text" [(ngModel)]="trademarkSearch">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            </div>
    
    
            <section class="example-section" [formGroup]="trademarklistGroup" style="display: block;">
                <div *ngFor="let controlName of trademarklist">
                <p><mat-checkbox [formControlName]="controlName">{{ controlName }}</mat-checkbox></p>
                </div>
            </section>
        </div>
    </div>
    
    <div class="list-product" style="margin-left: 20px; margin-top: 30px;">
        <div class="typeList">
            <div class="ChooseType">
                <mat-icon style="width: 30px; height: 30px; line-height: 30px; font-size: 24px; cursor: pointer;">grid_view</mat-icon>
                <mat-icon style="width: 30px; height: 30px; line-height: 30px; font-size: 30px; cursor: pointer;">view_list</mat-icon>
            </div>
    
            <div class="SortType">
                <p style="height: 30px; line-height: 30px; font-size: 16px; ">Arrange :</p>
                <div class="container-sort-type-list">
                    <mat-list role="list" style="padding: 0px; position: absolute;">
                        <mat-list-item role="listitem" class="sort-type-item-list"><p class="sort-type-item-list-text">Item 1</p></mat-list-item>
                        <mat-list-item role="listitem" class="sort-type-item-list"><p class="sort-type-item-list-text">Item 2</p></mat-list-item>
                        <mat-list-item role="listitem" class="sort-type-item-list"><p class="sort-type-item-list-text">Item 3</p></mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>

        <div class="container-product">
            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>

            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>

            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>

            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>
            <item-product></item-product>
        </div>
    </div>
    
    
</div>