<div class="container" >
    <div style="position: relative;"   (mouseleave)="onMouseLeave()">
        <img src="{{Product.url}}" alt="#" 
        (mouseenter)="onMouseEnter()"
        >
        <div class="icon-img" [ngClass]="{'hide-icon': onMouse}">
            <mat-icon (click)="AddToCartAtMainPage(Product)" style="cursor: pointer; border-right: 1px solid #000; margin-right: 8px; padding-right: 8px;">
                <span [ngClass]="{'color-cart': onClickAddCart==='check_circle'}" class="material-symbols-outlined">{{onClickAddCart}}</span>
            </mat-icon>
              
            <mat-icon style="cursor: pointer;" (click)="passIdProduct(Product.id)">
                <span class="material-symbols-outlined">visibility</span>
            </mat-icon>
        </div>
    </div>
    <div class="content">
        <div style="display: flex;">
            <p class="label">{{Product.name}}</p>
            <p [class.isDiscount]="isDiscount" class="discount">( -{{percentSale}}% )</p>
        </div>
        <div class="price">
            <p class="new-price">{{ (Product.price*1000).toLocaleString('vi-VN')}}₫</p>

            <p [class.isOldPrice]="isOldPrice" class="old-price">{{(Product.price*1000 + Product.price*percentSale*10).toLocaleString('vi-VN')}}₫ </p>
            
        </div>

        <div class="notes">
            <p>{{Product.description| truncate }}</p>
        </div>

        <div class="btn">
            <button (click)="ActiveaddProductToCart()" style="scale: 0.7;" mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
    </div>
</div>