<div class="container-admin-page">
    <div class="navbar">
        <div class="logo-admin-page">
            <p>
                PerfumeShop
            </p>
        </div>

        <div class="list-btn-admin-page">
            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">grid_view</span>
                <p style="margin: 0; margin-left: 12px; font-size: 16px;">Dashboard</p>
            </button>

            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">shopping_cart</span>
                <p style="margin: 0; margin-left: 12px; font-size: 16px;">Orders</p>
            </button>

            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">inventory_2</span>
                <p style="margin: 0; margin-left: 12px; font-size: 16px;">Products</p>
            </button>

            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">supervisor_account</span>
                <p style="margin: 0;margin-left: 12px; font-size: 16px;">Customer</p>
            </button>

            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">add_box</span>
                <p style="margin: 0;margin-left: 12px; font-size: 16px;">Add Product</p>
            </button>

            <button class="btn-admin-page">
                <span class="material-symbols-outlined" style="font-size: 32px;">mail</span>
                <p style="margin: 0;margin-left: 12px; font-size: 16px;">Massage</p>
            </button>

            <button class="btn-admin-page" style="position: absolute; bottom: 0; left: 0; width: 311px;">
                <span class="material-symbols-outlined" style="font-size: 32px; ">menu</span>
                <p style="margin: 0;margin-left: 12px; font-size: 16px;">More</p>
            </button>
        </div>

        
    </div>

    <div class="Content" style="margin: auto;">
        <router-outlet></router-outlet>
    </div>
</div>

