<div class="container-item-product">
    <div [class.isDiscount]="isDiscount" class="discount">-{{percentSale}}%</div>

    <div class="image-item-prodct">
        <img class="img-item-product" [src]="Product.url" alt="#">
    </div>   
    <div class="info-item-product">
        <p class="label-item-product">
            {{Product.name}}
        </p>
        <div class="price-item-product">
            <p class="price-after-discount">{{ (Product.price*1000).toLocaleString('vi-VN')}}₫</p>
            <p [class.isOldPrice]="isOldPrice" class="original-price">{{(Product.price*1000 + Product.price*percentSale*10).toLocaleString('vi-VN')}}₫</p>
        </div>
    </div>
</div>