<div class="container-item-product">
    <!-- <div class="discount">-20%</div> -->
    <div class="image-item-prodct">
        <img class="img-item-product" [src]="Product.url" alt="#">
    </div>   
    <div class="info-item-product">
        <p class="label-item-product">
            {{Product.name}}
        </p>
        <div class="price-item-product">
            <p class="price-after-discount">{{ (Product.pice*1000).toLocaleString('vi-VN')}}₫</p>
            <p class="original-price">{{(Product.pice*1000 + Product.pice*80).toLocaleString('vi-VN')}}₫</p>
        </div>
    </div>
</div>