<div class="container-item-product">
    <div class="discount">-20%</div>
    <div class="image-item-prodct">
        <img class="img-item-product" src="../assets/Images/Products/1.png" alt="#">
    </div>   
    <div class="info-item-product">
        <p class="label-item-product">
            Ariana Grande Cloud EDP
            Ariana Grande Cloud
        </p>
        <div class="price-item-product">
            <p class="price-after-discount">1.999.000₫</p>
            <p class="original-price">2.499.000₫</p>
        </div>
    </div>
</div>