<div class="wrap">
    <div class="headline">
        <div class="btn-detail-product">
            <span class="material-symbols-outlined">storefront</span>
            <p>Detail Product</p>
        </div>
        <div class="infor-delivery">
            <div class="delivery">
                <span class="material-symbols-outlined">local_shipping</span>
                <p>Successfull delivery</p>
            </div>
            <p class="status">Complete</p>
        </div>  
    </div>
    <div class="info-product">
        <img src="../assets/Images/Brand/Omnia Profumo.jpg" alt="">
        <div class="info">
            <p style="font-size: 16px;" class="info-name">Interlude Black Iris Eau de Parfum</p>
            <p class="info-volume-brand">650ml, 4160 Tuesdays</p>
            <p class="info-amount">x2</p>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: space-around;">
            <div style="display: flex;">
                <p style="margin-right: 12px; color: #aaa; text-decoration: line-through;">
                    900.000đ
                </p>
                <p>
                    855.000đ
                </p>
            </div>
            <p style="border: 1px solid #aaa; padding: 4px; text-align: center;">Cancel Order</p>
        </div>
    </div>
</div>