<div class="SignIn-Container">
    <p class="SignIn-label">
        Perfume Website
    </p>
    <div style="width: 85%;">
        <div style="display: flex; align-items: center; justify-content: space-evenly; ">
            <div class="vir-line" style="width: 50%; border: 1px solid #dbdbdb; height: 0px;"></div>
            <div class="vir-line" style="width: 50%; border: 1px solid #dbdbdb; height: 0px;"></div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-around; width: 100%; align-items: center;">   
        <span style="font-size: 50px; font-weight: 100; border: 2px solid #dbdbdb; border-radius: 50%; padding: 12px; margin-bottom: 12px;" class="material-symbols-outlined">lock</span>
        <p style="width: 85%; text-align: justify; margin-bottom: 12px;">Nhập email, số điện thoại hoặc tên người dùng của bạn và chúng tôi sẽ gửi cho bạn một liên kết để truy cập lại vào tài khoản.</p>
        <input style="margin-bottom: 12px;" [(ngModel)]="Email" type="text" placeholder="Email" class="SignIn-Input Email">
        <button class="SignIn-Btn" [ngClass]="{'invalidBtn-Singup': !validEmail}" (click)="emailValid()">Gửi liên kết đăng nhập</button>
    </div>
    <div style="width: 85%;">
        <div style="display: flex; align-items: center; justify-content: space-evenly; ">
            <div class="vir-line" style="width: 50%; border: 1px solid #dbdbdb; height: 0px;"></div>
            <div class="vir-line" style="width: 50%; border: 1px solid #dbdbdb; height: 0px;"></div>
        </div>
    </div>
    <p style="cursor: pointer; color: #000; margin-bottom: 12px;" (click)="DirectComponent(2)">Tạo tài khoản mới</p>
</div>

<div class="SignUp-Container">
    <p style="cursor: pointer; color: #000;" (click)="DirectComponent(1)">Quay lại đăng nhập</p>
</div>