
<div class="change-password">
    <div class="title">
        <p style="font-size: 28px;">Change Password</p>
    </div>

    <div class="container-change-password">
        <div class="left">
            <p>Old Password :</p>
            <p>New Password :</p>
            <p>Confirm New Password :</p>
        </div>
        
        <div class="right">
            <input type="text">
            <input type="text">
            <input type="text">
            <p>Change Password</p>
        </div>
    </div>
</div> 