/* alert-dialog.component.css */

.mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền */
  }
  
  .mat-dialog-title {
    color: #333; /* Màu chữ tiêu đề */
  }
  
  .mat-dialog-content {
    color: #555; /* Màu chữ nội dung */
  }
  
  .mat-dialog-actions {
    justify-content: center; /* Căn giữa các nút */
  }
  
  .mat-dialog-actions button {
    margin: 0 5px; /* Khoảng cách giữa các nút */
    background-color: #007bff; /* Màu nền nút */
    color: #fff; /* Màu chữ nút */
    border: none; /* Loại bỏ đường viền */
    border-radius: 4px; /* Bo tròn viền */
    padding: 8px 16px; /* Kích thước nút */
    cursor: pointer; /* Con trỏ khi di chuột */
  }
  
  .mat-dialog-actions button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
  }
  