.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
}

.container-add-new-product {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: aqua;
    opacity: 0.3;
}

 
.add-new-product {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1000px;
    height: 620px;
    background-color: #fffefe;
    margin: 100px auto;
    border-radius: 16px;
}

.container-info-product {
    display: flex;

    .add-image-product {
        flex: 1;

        .Load-image-product {
            margin: 20px auto;
            width: 266px;
            height: 266px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid #ccc;
        }
    }

    .add-info-product {
        flex: 2;

        .Container-Detail-Product {
            margin: 0 auto;
        }
    }
}  

.TypeOfProduct{
    display:  flex;
    margin: 0 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cfc6c6;


    .ProductType {
        margin: 8px;
        width: 100px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.CssInput {
    width: 260px;
    margin: 0 20px;
}

.CssInput-textArena {
    width: 560px;
    margin: 0 20px;
    height: 200px;
}

.title{ 
    text-align: center;
    margin: 20px;
    font-size: 28px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.css-btn-add-new-product {
    width: 100px;
    margin-right: 40px;
}
