<div class="wrap-brand">
    <div class="container-brand" >
       <div class="container-item-brand" *ngFor="let brand of Brands">
            <img [src]="brand.src" alt="">
       </div>
    </div>
</div>

<div class="wrap-footer">
    <div class="container-footer">
        <div class="contact">
            <p class="title-footer" >Contact</p>
            <p style="margin-bottom: 12px;">
                TiemPerfume - Genuine perfume brand present on the market since 2005. Committed to quality.
            </p>

            <div>
                <span class="material-symbols-outlined">pin_drop</span>
                <p>
                    12TER CMT8, Ben Thanh Ward, District 1, HCMC, Ho Chi Minh City,
                </p>
            </div>

            <div>
                <span class="material-symbols-outlined">call</span>
                <p>
                    
                    0363 106 151
                    <br>
                    Monday - Sunday: 8:30 - 22:00
                </p>
            </div>
            
            <div>
                <span class="material-symbols-outlined">mail</span>
                <p>Vanhastenghia</p>
            </div>
        </div>

        <div class="category">
            <p class="title-footer" >Category</p>
                <p>MEN'S PERFUME</p>
                <p>WOMEN'S PERFUME</p>
                <p>MINI PERFUME</p>
                <p>NICHE PERFUME</p>
                <p>MAKE UP</p>
                <p>BODY CARE</p>
                <p>GIFT SET</p>
        </div>
        <div class="custom-support">
            <p class="title-footer" >Custom support</p>
                <p>Shopping guide</p>
                <p>Payment Shipping</p>
        </div>
        <div class="recruitment">
            <p class="title-footer" >Recruitment </p>
                <p>Content location</p>
                <p>Designer position</p>
                <p>Sale manager position</p>
        </div>
    </div>
</div>

<div class="wrap-under-footer">
    <div class="container-under-footer">
        <div>
            <span class="material-symbols-outlined" style="margin-right: 4px;">copyright</span>
            <p>
                Copyright belongs  to Vanhaste
            </p>
        </div>

        <div style="font-size: 16px;">
            <p>SALE</p>
            <p>PERFUME</p>
            <p>BRAND</p>
            <p>GIFT SET</p>
            <p>MAKE UP</p>
            <p>SKIN CARE</p>
            <p>BODY CARE</p>
        </div>
    </div>
</div>